.hide {
    display: none;
}

.error {
    color: red;
}

body {
    background-color: rgb(245, 234, 234);
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: welcome;
    src: url(fonts/WoodcutterTagsonaRope.ttf);
}

@font-face {
    font-family: Quoridor;
    src: url(fonts/kidsboardgamefont.ttf);
}

button {
    background-color: rgba(220, 68, 68, 0.81);
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.gametitle {
    color: rgba(220, 68, 68, 0.81);
    font-size: 50px;
    text-align: center;
    font-family: Quoridor;
}

#mainPage {
    display: grid;
}

@media screen and (min-width: 900px) {
    /* STYLES HERE */
}

@media screen and (min-device-width: 700px) and (max-device-width: 899px) {
    /* STYLES HERE */
    .gametitle {
        font-size: 75px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 699px) {
    /* STYLES HERE */
    .gametitle {
        font-size: 53px;
    }
}

@media only screen and (max-device-width:480px) {
    .gametitle {
        font-size: 36px;
    }
}

.welcometxt {
    color: rgba(220, 68, 68, 0.81);
    font-size: 80px;
    text-align: center;
    font-family: welcome;
}

.myButt {
    outline: none;
    padding: 20px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(220, 68, 68, 0.81);
    width: 100%;
    max-width: 500px;
    position: relative;
    border: 2px solid white;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.two {
    color: #fff;
    border: dashed;
}

.two:hover {
    border-color: black;
    border: dashed;
    color: black;
    animation: shakeThat 0.3s linear 1;
    -webkit-animation: shakeThat 0.3s linear 1;
    -moz-animation: shakeThat 0.3s linear 1;
    -o-animation: shakeThat 0.3s linear 1;
    -ms-animation: shakeThat 0.3s linear 1;
}

@keyframes shakeThat {
    33% {
        transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
    }
    67% {
        transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        -o-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
    }
}

form {
    display: block;
    margin-left: 40%;
}

table,
th,
td,
tr {
    border-color: "rgba(220, 68, 68, 0.81)";
    border: 1px solid;
}


#backButton {
    margin-left: 20%;
    width: 150px
}

#backButton1 {
    margin-left: 40%;
    width: 150px
}
#form2 > div {
    color: rgba(220, 68, 68, 0.81)
}

#mainPage > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    margin-left: 35%;
}

#mainPage > div {
    color: rgba(220, 68, 68, 0.81)
}

#homePage {
}

#authButton {
}

#leaderboard {
    display: none;
    color: rgba(220, 68, 68, 0.81)
}

#leadertable {
}

#backButton {
    margin-left: 20%;
    width: 150px
}

#authForm {
    display: none;
}

#form2 {
    margin-left: 20%;
}

#email {
}

#pass {
}

#signUp {
    margin-left: 20%;
    width: 150px
}

#logIn {
    margin-left: 20%;
    width: 150px
}

#errMessage {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
	margin-left: 35%;
    display: block;
    display: none;
}

#mainPage {
    display: none
}

#lableName {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    color: rgb(218, 21, 21);
    margin-left: 35%;
    margin-top: 1%;
}

#gameDIV {
    display: none
}


#backButton {
    margin-left: 20%;
    width: 150px
}


#form2 > p {
    font-size: 30px;
    margin-left: 20%;
    color: rgba(220, 68, 68, 0.81);
}

#form2 > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    margin-left: 20%;
}

#form2 > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    margin-left: 20%;
}

#form2 > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    margin-left: 20%;
}

#form2 > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    margin-left: 20%;
}

#form2 > div {
    color: rgba(220, 68, 68, 0.81)
}

#mainPage > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    margin-left: 35%;
}

#mainPage > div {
    color: rgba(220, 68, 68, 0.81)
}

#homePage {
}

#authButton {
}

#leaderboard {
    display: none;
    color: rgba(220, 68, 68, 0.81)
}

#leadertable {
}

#backButton {
    margin-left: 20%;
    width: 150px
}

#form2 {
    margin-left: 20%;
}

#signUp {
    margin-left: 20%;
    width: 150px
}

#logIn {
    margin-left: 20%;
    width: 150px
}

#errMessage {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block
}

#mainPage {
    display: none
}

#lableName {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    color: rgb(218, 21, 21);
    margin-left: 35%;
    margin-top: 1%;
}



#gameDIV {
    display: none
}


#leaderboard > div {
    color: rgba(220, 68, 68, 0.81)
}

#form2 > p {
    font-size: 30px;
    margin-left: 20%;
    color: rgba(220, 68, 68, 0.81);
}

#form2 > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    margin-left: 20%;
}

#form2 > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    margin-left: 20%;
}

#form2 > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    margin-left: 20%;
}

#form2 > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    margin-left: 20%;
}

#form2 > div {
    color: rgba(220, 68, 68, 0.81)
}

#mainPage > span {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    margin-left: 35%;
}

#mainPage > div {
    color: rgba(220, 68, 68, 0.81)
}


#leaderboard {
    display: none;
    color: rgba(220, 68, 68, 0.81)
}
#gamehistory {
	display: none;
    color: rgba(220, 68, 68, 0.81)
}
#gamelist{
	margin-left: 40%;
}

#leadertable {
	margin-left: 40%;
}

#backButton {
    margin-left: 40%;
    width: 150px
}



#form2 {
    margin-left: 20%;
}

#signUp {
    margin-left: 20%;
    width: 150px
}

#logIn {
    margin-left: 20%;
    width: 150px
}

#errMessage {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block
}

#mainPage {
    display: none
}

#lableName {
    font-size: 30px;
    color: rgba(220, 68, 68, 0.81);
    display: block;
    color: rgb(218, 21, 21);
    margin-left: 35%;
    margin-top: 1%;
}

#gameDIV {
    display: none
}
#gameSVG {
    width: 600px;
    height: 600px;
    display: block;
    margin: auto;
}

.grid {
    stroke: darkgrey;
    stroke-width: 1px;
}

.pawn1 {
    fill: darkred;
    stroke: none;
}

.pawn2 {
    fill: darkblue;
    stroke: none;
}

.square {
    stroke: darkgrey;
    stroke-width: 1px;
    fill: none;
}

#hoveredWall {
    fill: #797979;
}

.potentialPawn {
    fill: #a298cb;
}

.gap {
    fill: transparent;
}

.wall, .miniSquare {
    fill: #5d5d5d;
}


.route {
    fill: #8b6158;
    opacity: 0.2;
}
.container{
    margin-left: 30%;
}